{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.get_pub_stat }}
        </div>
        {% if user.is_authenticated and not post.published_date%}
        <div>
          <form method="POST" class="post-publish" action= "post/{{ post.pk }}/publish/">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-default glyphicon glyphicon-forward"> </button>
          </form>
        </div>
        {% endif %}
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}
{% endblock content %}